In [22]:
import pandas as pd

df_etanol = pd.read_csv('ETANOL2.csv', sep=';', encoding='utf-8')

print(df_etanol.info())
print(df_etanol)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ANO     9 non-null      int64
 1   JAN     9 non-null      object
 2   FEV     9 non-null      object
 3   MAR     9 non-null      object
 4   ABR     9 non-null      object
 5   MAI     9 non-null      object
 6   JUN     9 non-null      object
 7   JUL     9 non-null      object
 8   AGO     9 non-null      object
 9   SET     9 non-null      object
 10  OUT     9 non-null      object
 11  NOV     9 non-null      object
 12  DEZ     9 non-null      object
 13  Total   9 non-null      object
dtypes: int64(1), object(13)
memory usage: 1.1+ KB
None
    ANO         JAN         FEV         MAR         ABR         MAI  \
0  2012  209799,299  218501,025  122761,085  168912,774  188626,002
1  2013  366686,311  217324,111  133575,244  117521,388  141189,387
2  2014  231236,749  138852,177  176951,564  206824,189  166507,651
3  2015  235308,886   138657,74  203325,933  126682,571  142184,146
4  2016   148525,95  338714,693  289504,635  155134,086  156743,461
5  2017   277053,96  318459,946  345578,141  240756,424  331990,986
6  2018      286266  225406,976    391912,3  467214,065  194868,176
7  2019  260621,804  241782,763  241177,434  234872,201  316108,833
8  2020  258259,738  303800,056   346173,24  224170,624  189533,947

          JUN         JUL         AGO         SET         OUT         NOV  \
0  145235,672  437472,475  361557,684  452789,624  497141,449  320316,545
1   295837,84  363627,849  489805,267  297058,713  337009,556  183645,794
2  194200,344   91285,673   133423,78  132758,876  101157,055  103996,569
3  160519,374  214876,558   210377,59  173933,741  269658,522   204845,24
4  295828,286  274758,933   243007,02  198280,306  138330,842  171468,882
5   360241,77  231731,085  312553,364  253596,248  245223,329  185033,013
6   201222,66  320867,665  290272,449   182705,36   327098,36   287280,81
7  256497,497  304205,869  393378,134  287348,677  293318,957   229475,41
8  312539,779  322744,622  346677,523  299153,043   398753,26  341188,441

          DEZ        Total
0  463153,819  3586267,453
1  104990,871  3048272,331
2   172723,77  1849918,397
3    299709,1  2380079,401
4  174832,652  2585129,746
5  103576,135  3205794,401
6  282192,999   3457307,82
7  331808,831   3390596,41
8  335810,575  3678804,848

In [23]:
df_etanol.set_index(keys='ANO', drop=True, inplace=True)

df_etanol.head()

,JAN,FEV,MAR,ABR,MAI,JUN,JUL,AGO,SET,OUT,NOV,DEZ,Total
ANO,,,,,,,,,,,,,
2012,"209799,299","218501,025","122761,085","168912,774","188626,002","145235,672","437472,475","361557,684","452789,624","497141,449","320316,545","463153,819","3586267,453"
2013,"366686,311","217324,111","133575,244","117521,388","141189,387","295837,84","363627,849","489805,267","297058,713","337009,556","183645,794","104990,871","3048272,331"
2014,"231236,749","138852,177","176951,564","206824,189","166507,651","194200,344","91285,673","133423,78","132758,876","101157,055","103996,569","172723,77","1849918,397"
2015,"235308,886","138657,74","203325,933","126682,571","142184,146","160519,374","214876,558","210377,59","173933,741","269658,522","204845,24","299709,1","2380079,401"
2016,"148525,95","338714,693","289504,635","155134,086","156743,461","295828,286","274758,933","243007,02","198280,306","138330,842","171468,882","174832,652","2585129,746"

In [24]:
for mes in 'JAN FEV MAR ABR MAI JUN JUL AGO SET OUT NOV DEZ Total'.split():
  df_etanol[mes] = df_etanol[mes].str.replace(',', '.')

print(df_etanol.dtypes)
df_etanol.head(2)

JAN      object
FEV      object
MAR      object
ABR      object
MAI      object
JUN      object
JUL      object
AGO      object
SET      object
OUT      object
NOV      object
DEZ      object
Total    object
dtype: object

,JAN,FEV,MAR,ABR,MAI,JUN,JUL,AGO,SET,OUT,NOV,DEZ,Total
ANO,,,,,,,,,,,,,
2012,209799.299,218501.025,122761.085,168912.774,188626.002,145235.672,437472.475,361557.684,452789.624,497141.449,320316.545,463153.819,3586267.453
2013,366686.311,217324.111,133575.244,117521.388,141189.387,295837.84,363627.849,489805.267,297058.713,337009.556,183645.794,104990.871,3048272.331

In [25]:
df_etanol = df_etanol.astype(float)
print(df_etanol.dtypes)

df_etanol.head()

JAN      float64
FEV      float64
MAR      float64
ABR      float64
MAI      float64
JUN      float64
JUL      float64
AGO      float64
SET      float64
OUT      float64
NOV      float64
DEZ      float64
Total    float64
dtype: object

,JAN,FEV,MAR,ABR,MAI,JUN,JUL,AGO,SET,OUT,NOV,DEZ,Total
ANO,,,,,,,,,,,,,
2012,209799.299,218501.025,122761.085,168912.774,188626.002,145235.672,437472.475,361557.684,452789.624,497141.449,320316.545,463153.819,3586267.453
2013,366686.311,217324.111,133575.244,117521.388,141189.387,295837.840,363627.849,489805.267,297058.713,337009.556,183645.794,104990.871,3048272.331
2014,231236.749,138852.177,176951.564,206824.189,166507.651,194200.344,91285.673,133423.780,132758.876,101157.055,103996.569,172723.770,1849918.397
2015,235308.886,138657.740,203325.933,126682.571,142184.146,160519.374,214876.558,210377.590,173933.741,269658.522,204845.240,299709.100,2380079.401
2016,148525.950,338714.693,289504.635,155134.086,156743.461,295828.286,274758.933,243007.020,198280.306,138330.842,171468.882,174832.652,2585129.746

In [26]:
# Em cada ano qual o menor e o maior valor arrecadado da exportação?

for ano in range(2012, 2021):
  ano_info = df_etanol.loc[ano]
  minimo = ano_info.min()
  maximo = ano_info.max()
  print(f'Ano = {ano}')
  print(f'Menor valor = {minimo:,.0f}'.replace(',', '.'))
  print(f'Maior valor = {maximo:,.0f}'.replace(',', '.'))
  print("--------------")

Ano = 2012
Menor valor = 122.761
Maior valor = 3.586.267
--------------
Ano = 2013
Menor valor = 104.991
Maior valor = 3.048.272
--------------
Ano = 2014
Menor valor = 91.286
Maior valor = 1.849.918
--------------
Ano = 2015
Menor valor = 126.683
Maior valor = 2.380.079
--------------
Ano = 2016
Menor valor = 138.331
Maior valor = 2.585.130
--------------
Ano = 2017
Menor valor = 103.576
Maior valor = 3.205.794
--------------
Ano = 2018
Menor valor = 182.705
Maior valor = 3.457.308
--------------
Ano = 2019
Menor valor = 229.475
Maior valor = 3.390.596
--------------
Ano = 2020
Menor valor = 189.534
Maior valor = 3.678.805
--------------

In [27]:
# Considerando o período de 2012 a 2019, qual a média mensal de arrecadação com a exportação

print('Média mensal de rendimentos:')
for mes in 'JAN FEV MAR ABR MAI JUN JUL AGO SET OUT NOV DEZ'.split():
  media = df_etanol.loc[2012:2019, mes].mean()
  print(f'{mes} = {media:,.0f}'.replace(',', '.'))

Média mensal de rendimentos:
JAN = 251.937
FEV = 229.712
MAR = 238.098
ABR = 214.740
MAI = 204.777
JUN = 238.698
JUL = 279.853
AGO = 304.297
SET = 247.309
OUT = 276.117
NOV = 210.758
DEZ = 241.624

In [28]:
# Considerando o período de 2012 a 2019, qual ano teve o menor arrecadamento? E o menor?

ano_menor_arrecadacao = df_etanol.loc[2012:2019, 'Total'].idxmin()
ano_maior_arrecadacao = df_etanol.loc[2012:2019, 'Total'].idxmax()

print(f"Ano com menor arrecadação = {ano_menor_arrecadacao}")
print(f"Ano com maior arrecadação = {ano_maior_arrecadacao}")

Ano com menor arrecadação = 2014
Ano com maior arrecadação = 2012